* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #3A3838;
  padding: 2vw;
  display: flex;
  justify-content: center;
}


.activeDate {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 0;
}

.weekDays li, .days li {
  display: inline-block;
  text-align: center;
}

.weekDays li {
  width: 12.5%; /* 13.14% */
}

.days li {
  width: 13.5%;
}
